extends base.pug
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search for Video", required, name="keyword")
        input(value="Search Now", type="submit")
    div 
        each video in videos 
            +video(video)